model:
  _target_: src.modules.models.simple_dense_net.SimpleDenseNet
  input_size: 784
  lin1_size: 64
  lin2_size: 128
  lin3_size: 64
  output_size: 10

loss:
  name: "torch.nn/CrossEntropyLoss"

metrics:
  main:
    _target_: "torchmetrics/Accuracy"
    task: "multiclass"
    num_classes: 10
    top_k: 1
  valid_best:
    _target_: "torchmetrics/MaxMetric"
